# requirements for commonlib code.
# needed for R code
rpy2==3.5.11
numpy==1.26.2
xarray
scipy
pandas
numexpr
ipython
cftime
nc_time_axis
requests
# needed for GSHSS_WDBII
fiona
cartopy
# and for testing if dask and r work -- they don't :-
dask[distributed]

